<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Thống kê phòng được đặt trong tháng</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar" class="align-text-bottom"></span>
          This week
      </button>
  </div>
</div>
<br>

<form (submit)="getBookingsByCustommer()">
  <div class="row">
      <div class="col-md-3">
          <label class="form-label" for="startDate">Chọn tháng:</label>
          <input class="form-control" type="month" [(ngModel)]="month" name="month" required>
      </div>
      <div class="col-md-2 d-flex align-items-end">
          <button type="submit"  class="btn btn-primary">Tính doanh thu</button>
      </div>
  </div>
</form>
<br>
<hr>

<div class="card mb-3" *ngFor="let room of infoRoom">
  <div class="card-header">
    <h5 class="card-title">Phòng : {{ room.maPhong }}</h5>
  </div>
  <div class="card-body row">
    <p class="card-text col-md-4"><strong>Số lần đặt:</strong> {{ room.soLanDat }}</p>
    <p class="card-text col-md-4"><strong>Doanh thu phòng:</strong> {{ room.doanhThu | currency:'VND' }}</p>
    <button class="btn btn-outline-none btn-outline-secondary" type="button" data-bs-toggle="collapse"
      [attr.data-bs-target]="'#collapse-' + room.maPhong" aria-expanded="false"
      [attr.aria-controls]="'collapse-' + room.maPhong">
      Xem danh sách đặt phòng
    </button>
  </div>
  <div [id]="'collapse-' + room.maPhong" class="collapse">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Ngày nhận</th>
            <th scope="col">Ngày trả</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Số điện thoại</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datPhong of room.danhSachDatPhong">
            <td>{{ datPhong.ngayDat | date:'yyyy-MM-dd'}}</td>
            <td>{{ datPhong.ngayNhan | date:'yyyy-MM-dd' }}</td>
            <td>{{ datPhong.ngayTra | date:'yyyy-MM-dd'}}</td>
            <td [style.color]="getTrangThaiColor(datPhong.trangThai)">{{ datPhong.trangThai }}</td>
            <td>{{ datPhong.khachHang }}</td>
            <td>{{ datPhong.soDienThoai }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
